{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["lodash"],
    ["date-fns"],
    ["babel-plugin-graphql-tag"],
    [
      "import",
      {
        "libraryName": "validator",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      },
      "validator"
    ]
  ]
}
