{
  "presets": ["next/babel"],
  "plugins": [
    ["lodash"],
    ["babel-plugin-graphql-tag", { "importName": "graphql-tag-ts" }],
    [
      "import",
      {
        "libraryName": "validator",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      },
      "validator"
    ]
  ]
}
