{
  "presets": ["next/babel"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    ["@babel/plugin-proposal-nullish-coalescing-operator"],
    ["lodash"],
    ["babel-plugin-graphql-tag", { "importName": "graphql-tag-ts" }]
  ]
}
