{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["lodash"],
    ["babel-plugin-graphql-tag", { "importName": "graphql-tag" }],
    [
      "import",
      {
        "libraryName": "validator",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      },
      "validator"
    ]
  ]
}
