node_modules/

.next

api/dist

.env

.git

docker-compose.yml

Dockerfile

logs

.ncurc.json

.prettierrc

__tests__

jest.config.js

jest.setup.ts

worker.ts

ts-hook.js

ecosystem-dev.yaml

ecosystem.yaml

.github

.vscode