.lalalink-image {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  max-height: 20vh;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.verticalText {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}
.histogram_box {
  position: absolute !important;
  bottom: 0 !important;
  transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
}

body {
  overflow-y: scroll !important;
}
.cursorPointer {
  cursor: pointer;
}
.cursorText {
  cursor: text;
}
