.lalalink-image {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  max-height: 20vh;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.verticalText {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}

.cursorPointer {
  cursor: pointer;
}

.cursorText {
  cursor: text;
}

textarea {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.toast {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

body {
  background: initial;
}

form div[type="radio"] {
  border: 1px solid rgb(63, 63, 63);
}

.helpImagesStack img {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
  border: 1px solid black;
}

.checkbox [aria-hidden="true"] {
  border: 1px solid rgb(63, 63, 63);
}

.feedbackOptResult:not(.chosen) {
  color: red;
}
.feedbackOptResult.chosen {
  color: blue;
}

.popover {
  position: absolute !important;
}

.predictionStateRow {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  transition: all 1s;
}

.predictionStateRow:hover {
  box-shadow: 0px 0px 0px 1px black;
}

.waffle_tooltip {
  padding: 5px !important;
}
