.lalalink-image {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  max-height: 20vh;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
/* .unselectable:hover {
  border: 2px solid red;
} */
.verticalText {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}
