.lalalink-image {
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: auto;
  max-height: 20vh;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.verticalText {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}

.cursorPointer {
  cursor: pointer;
}

.cursorText {
  cursor: text;
}

textarea {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.toast {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

body {
  background: initial;
}

form div[type="radio"] {
  border: 1px solid black;
}
